@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css');
html, body{
    margin: 0;
    border: 0;
}
h1{
    color:green;
}
.header{
    background-color: orange;
    color: #333;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: end;

}
h1{
    font-family: "Roboto Condensed", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
}
.header h1{
    font-size: 40px;
    font-weight: bolder;
    color: black;
    text-shadow: 5px 5px 5px #333;
    
}
.header h1:hover{
    text-shadow: 5px 5px 5px pink;
    color: white
}
.main{
    height: 400px;
    background: lightblue url('/assets/img/aviao.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}
.formulario{
    height: 400px;
    background-color:orange;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    vertical-align: middle;
    flex-direction: row;
}
.botao{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: end;
}
.botao > a{
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    margin-left: auto;
    margin-right: 14px;
    margin-bottom: 10px;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 700;   
    font-size: 20px;
    box-shadow: 5px 5px 5px #333;
    border: 4px solid orange;
}
.botao > a:hover{
    background-color: orange;
    color: red;
    border: 4px solid white;
    transition: 0.5s;
}
.redondo{
    background: url('/assets/img/aviao.jpg') no-repeat center center;
    height: 50%;
    width: 20%;
    border-radius: 50%;
    background-size: cover;
}  
.folha{
    height: 250px;
    width: 250px;
    background-color: green;
    border-radius: 50% 0;
    rotate: 5deg;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: lightblue;
    color: #000;
    box-shadow: 4px 4px 1px #333;
}
.navbar a{
    color: #000;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 20px;
}
.lista{
    list-style: none;
    display: flex;
}
.lista li a:hover{
    transition: all .8s;
    color: orange;
    letter-spacing: 3px;
}
@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
    }

    .menu {
        width: 100%;
        height: 0;
        overflow: hidden;
        transition: height 0.5s ease-in-out;
    }

    .lista {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .navbar label {
        display: inline-flex;
        align-items: center;
        cursor: pointer;
    }

    #botao:checked ~ .menu {
        height: auto;
        max-height: 500px; /* Define um limite máximo para evitar expansões infinitas */
    }
}

